<section class="about" id="about-section">
  <div class="container contabout-about">
    <div class="about-yacht">
      <p class="info-yacht">
        <span class="italic-style">Yacht Adventures</span> fleet is here to take
        you on the ultimate adventure. Each yacht is hand-picked for its
        comfort, style, and performance.
      </p>
      <div class="about-yacht-detail info-pad">
        <p class="info-yacht-detail">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.
        </p>
        <p class="info-yacht-detail">
          No matter which yacht you choose, our experienced crew will ensure
          that your journey is smooth and enjoyable. Book now and get ready for
          an unforgettable adventure on the high seas.
        </p>
      </div>
    </div>

    <div class="about-img-div">
      <ul class="about-img">
       
        <li class="about-img-yacht-1">
          <div class="about-img-1" id="img-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="335"
              height="524"
              viewBox="0 0 335 524"
              fill="none"
            >
              <path
                d="M335 477.088L335 24C335 10.7452 324.255 1.88982e-05 311 2.16494e-05L24 4.70606e-05C10.7452 4.82342e-05 -1.40907e-06 10.7452 -3.14723e-06 24.0001L-3.29471e-05 500C-3.38205e-05 513.255 10.7451 524 24 524L196.405 524C204.103 524 211.1 519.529 214.334 512.544C217.568 505.558 224.565 501.088 232.263 501.088L302.182 501.088L311 501.088C324.255 501.088 335 490.342 335 477.088Z"
                fill="url(#pattern0)"
              />
              <defs>
                <pattern
                  id="pattern0"
                  patternContentUnits="objectBoundingBox"
                  width="1"
                  height="1"
                >
                  <use
                    xlink:href="#about-yacht-1"
                    transform="matrix(0.00146322 0 0 0.000935454 -0.890056 0)"
                  />
                </pattern>
                <image
                  id="about-yacht-1"
                  href="../img/about-img/inside-yaht@1x.png"
                  srcset="../img/about-img/inside-yaht@1x.png 1x, ../img/about-img/inside-yaht@1x.png 2x"
                  width="1900"
                  height="1069"
                  alt="yacht deck image"
                />
              </defs>
            </svg>
                   
          </div>
        </li>
        <div class="block-yacht-2-3">
           <li class="about-img-yacht-2" >
              <div class="about-img-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="335"
                  height="289"
                  viewBox="0 0 335 289"
                  fill="none"
                >
                  <path
                    d="M335 36.6368L335 265C335 278.255 324.255 289 311 289L24 289C10.7452 289 -1.40906e-06 278.255 -3.08272e-07 265L-3.40379e-06 24C-3.57405e-06 10.7452 10.7452 2.98913e-05 24 2.91188e-05L200.78 1.88158e-05C206.009 1.8511e-05 210.971 2.31307 214.334 6.31844C217.697 10.3238 222.659 12.6368 227.888 12.6368L302.182 12.6368L311 12.6368C324.255 12.6368 335 23.382 335 36.6368Z"
                    fill="url(#pattern1)"
                  />
                  <defs>
                    <pattern
                      id="pattern1"
                      patternContentUnits="objectBoundingBox"
                      width="1"
                      height="1"
                    >
                      <use
                        xlink:href="#about-yacht-2"
                        transform="matrix(-0.000807003 0 0 -0.000935454 1.26665 1)"
                      />
                    </pattern>
                    <image
                      id="about-yacht-2"
                      href="../img/about-img/deck-yacht-@1x.png"
                      srcset="../img/about-img/deck-yacht-@1x.png 1x, ../img/about-img/deck-yacht-@2x.png 2x"
                      width="1900"
                      height="1069"
                      alt="picture inside the yacht"
                    />
                  </defs>
                </svg>
                 </div>          
             </li>
              <div class="about-img-3">
                <li class="about-img-yacht-3">
                  <svg
                    width="260"
                    height="244"
                    viewBox="0 0 260 244"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <rect
                      width="260"
                      height="244"
                      rx="24"
                      fill="url(#pattern2)"
                    />
                    <rect
                      width="260"
                      height="244"
                      rx="24"
                      fill="url(#pattern2)"
                    />
                    <defs>
                      <pattern
                        id="pattern2"
                        patternContentUnits="objectBoundingBox"
                        width="1"
                        height="1"
                      >
                        <use
                          xlink:href="#about-yacht-3"
                          transform="matrix(0.000585053 0 0 0.000526593 -0.333993 0)"
                        />
                      </pattern>
                      <image
                        id="about-yacht-3"
                        href="../img/about-img/yacht-img@1x.png"
                        srcset="../img/about-img/yacht-img@1x.png 1x, ../img/about-img/yacht-img@1x.png 2x"
                        width="2851"
                        height="1899"
                        alt="yacht image"
                      />
                    </defs>
                  </svg>
                </div>
              </li>   
            </div>                       
          </div>  
      </ul>     
  </div>
</section>
