<section class="about" id="about-section">
  <div class="container contabout-about">
    <div class="about-yacht">
      <p class="info-yacht">
        <span class="italic-style">Yacht Adventures</span> fleet is here to take
        you on the ultimate adventure. Each yacht is hand-picked for its
        comfort, style, and performance.
      </p>
      <div class="about-yacht-detail info-pad">
        <p class="info-yacht-detail">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.
        </p>
        <p class="info-yacht-detail">
          No matter which yacht you choose, our experienced crew will ensure
          that your journey is smooth and enjoyable. Book now and get ready for
          an unforgettable adventure on the high seas.
        </p>
      </div>
    </div>

    <div class="about-img">
      <img  
        class="about-img1"
        srcset="/img/about/about1@1x.png 1x, /img/about/about1@2x.png 2x"
        src="/img/about/about1@1x.png"
        alt="Yacht deck picture"/>

      <img  
        class="about-img2"
        srcset="/img/about/about2@1x.png 1x, /img/about/about2@2x.png 2x"
        src="/img/about/about2@1x.png"
        alt="Yacht inside picture"/>
      <img  
        class="about-img3"
        srcset="/img/about/about3@1x.png 1x, /img/about/about3@2x.png 2x"
        src="/img/about/about3@1x.png"
        alt="Yacht outside picture"/>
    </div>     
</section>