<footer class="footer">
  <div class="footer-conteiner container">
    <div class="logo-footer">
      <a class="link-logo-footer link" href="./index.html" aria-label="logo"
        ><img src="" /> yacht Adventures</a
      >
    </div>
    <div class="navigation-footer">
      <ul class="navigation-footer-list list">
        <li class="navigation-footer-item">
          <a class="navigation-footer-link" href="#about">About</a>
        </li>
        <li class="navigation-footer-item">
          <a class="navigation-footer-link" href="#yachts">Yachts</a>
        </li>
        <li class="navigation-footer-item">
          <a class="navigation-footer-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-media">
      <p class="icons-description">We in social</p>
      <ul class="footer-icon-list list">
        <li class="list-item">
          <a class="icon-link" href="" aria-label="facebook"
            ><svg class="chain-icon" width="22" height="22">
              <use href="../img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="list-item">
          <a class="icon-link" href="" aria-label="instagram"
            ><svg class="chain-icon" width="22" height="22">
              <use href="../img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="list-item">
          <a class="icon-link" href="" aria-label="youtube"
            ><svg class="chain-icon" width="22" height="22">
              <use href="../img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="privacy-police">
      <ul class="privacy-police-list list">
        <li class="privacy-police-item">
          <p class="privacy-police-description">2023. Yacht Adventures</p>
        </li>
        <li class="privacy-police-item">
          <p class="privacy-police-description">Privacy Police</p>
        </li>
      </ul>
    </div>
  </div>
</footer>
