<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mob-container">
    <div class="mob-underline">
      <a href="" class="header-icon">
        <img
          class="logo-icon"
          srcset="../img/header/icon@1x.png 1x, ../img/header/icon@2x.png 2x"
          src="../img/header/icon@1x.png"
          alt="icon logo little yacht"
          width="18"
          height="18"
        />
        <span class="logo-name">Yachts Adventures</span>
      </a>
      <button class="js-close-menu x-close">
        <svg class="x-close-icon" width="24" height="24">
          <use href="../img/icons.svg#close"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-menu">
      <li class="mobile-menu-element">
        <a href="" class="link mob-menu-link">About</a>
      </li>
      <li class="mobile-menu-element">
        <a href="" class="link mob-menu-link">Yachts</a>
      </li>
      <li class="mobile-menu-element">
        <a href="" class="link mob-menu-link">Reviews</a>
      </li>
    </ul>
  </div>
  <div class="gradient-circle1"></div>
  <div class="gradient-circle2"></div>
</div>
