<!-- Hero Section. Valerii Zinkovskii -->
<section class="hero">
  <div class="container hero-box">
    <div class="hero-ellipse"></div>
    <div class="hero-container">
      <h1 class="hero-title">
        Explore the High Seas with
        <span class="accent-color">Our Luxury Yacht</span> Rentals
      </h1>
      <p class="hero-text">
        Experience the freedom and luxury of yachting on the open seas. Choose
        from our top-of-the-line yachts and embark on an unforgettable journey
        surrounded by breathtaking views and state-of-the-art amenities.
      </p>
      <button class="hero-btn" type="button">Get Started</button>
      <button class="hero-anchor" type="button">Explore</button>
    </div>
    <!-- Card -->
    <div class="mask-group">
      <div class="hero-conteiner-clients">
        <ul class="hero-list-clients">
          <li class="hero-icon-clients-1">
            <img
              srcset="
                ../img/hero-img/icon-clients-1@1x.png 1x,
                ../img/hero-img/icon-clients-1@2x.png 2x
              "
              src="../img/hero-img/icon-clients-1@1x.png"
              alt="men foto"
              width="48"
            />
          </li>
          <li class="hero-icon-clients-2">
            <img
              srcset="
                ../img/hero-img/icon-clients-2@1x.png 1x,
                ../img/hero-img/icon-clients-2@2x.png 2x
              "
              src="../img/hero-img/icon-clients-2@1x.png"
              alt="girl foto"
              width="48"
            />
          </li>
          <li class="hero-icon-clients-3">
            <img
              srcset="
                ../img/hero-img/icon-clients-3@1x.png 1x,
                ../img/hero-img/icon-clients-3@2x.png 2x
              "
              src="../img/hero-img/icon-clients-3@1x.png"
              alt="men foto"
              width="48"
            />
          </li>
        </ul>

        <p>Our Clients</p>
      </div>
      <img
        class="hero-img-ceo"
        srcset="../img/hero-img/ceo@1x.png 1x, ../img/hero-img/ceo@2x.png 2x"
        src="../img/hero-img/ceo@1x.png"
        alt=""
      />
      <img
        class="hero-img-yaht"
        srcset="
          ../img/hero-img/hero-yaht@1x.png 1x,
          ../img/hero-img/hero-yaht@2x.png 2x
        "
        src="../img/hero-img/hero-yaht@1x.png"
        alt=""
      />
      <div class="hero-price-container">
        <p class="hero-price">&#36;12M</p>
        <p class="hero-price-text">
          Book now and make your dream yacht rental a reality
        </p>
      </div>
    </div>
  </div>
</section>
