<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <div class="rent-modal-spot"></div>
      <button type="button" data-modal-close class="close-button">
        <svg class="close-icon" width="20" height="">
            <use href="../img/icons.svg#close"></use>
        </svg>
      </button>
      <img class="rent-modal-pic" rcset="/img/rent/rentmodal@1x.png 1x, /img/rent/rentmodal@2x.png 2x"
      src="/img/rent/rentmodal@1x.png" />
      <div class="modal-thanks">
        <h4 class="modal-h">Thank you</h4>
        <p class="modal-p">Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in touch shortly to confirm your reservation and provide any additional information or assistance you may need.</p>
      </div>
    </div>
  </div>