<div class="backdrop" data-modal>
    <div class="modal">
      <button type="button" data-modal-close class="close-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M15 5L5 15" stroke="#F6F5EF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 5L15 15" stroke="#F6F5EF" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
      </button>
      <img class="rent-modal-pic" rcset="/img/rent/rentmodal@1x.png 1x, /img/rent/rentmodal@2x.png 2x"
      src="/img/rent/rentmodal@1x.png" />
      <div class="rent-modal-spot"></div>
      <div class="modal-thanks">
        <h4 class="modal-h">Thank you</h4>
        <p class="modal-p">Thank you for choosing Yacht Adventures, your booking details have been received and our team will be in touch shortly to confirm your reservation and provide any additional information or assistance you may need.</p>
      </div>
    </div>
  </div>