<section class="rent">
  <div class="container rent-container">
    <h3 class="rent-title">Rent a yacht now</h3>
    <div class="rent-pic">
      <img
        srcset="/img/rent/yahtrent@1x.png 1x, /img/rent/yahtrent@2x.png 2x"
        src="/img/rent/yahtrent@1x.png"
        width="259"
        height="187" alt="a yacht in the water"
      />
    </div>
    <div>
      <form class="rent-form">
        <div>
          <label for="user-name" class="rent-label"> </label>
          <input
            type="text"
            placeholder="Full Name"
            name="user-name"
            id="user-name"
            class="rent-input"
          />
        </div>
        <div>
          <label for="user-email" class="rent-label"> </label>
          <input
            type="email"
            placeholder="Email"
            name="user-email"
            id="user-email"
            class="rent-input"
          />
        </div>
        <div>
          <label for="user-phone" class="rent-label"> </label>
          <input
            type="tel"
            placeholder="Phone number"
            name="user-phone"
            id="user-phone"
            class="rent-input"
          />
        </div>
        <div>
          <label for="user-comment" class="rent-label"> </label>
          <input
            type="text"
            placeholder="Comment"
            name="user-comment"
            id="user-comment"
            class="rent-input"
          />
        </div>
      </form>
    </div>
    <div class="rent-spot"></div>
    <button class="rent-button" type="submit" data-modal-open>
      <p class="rent-button-p">Send</p>
      <svg width="38px" height="18px" class="rent-button-icon">
        <use href="/img/icons.svg#arrowright"></use>
      </svg>
    </button>
  </div>
</section>
