<section class="review">
  <div class="container-review">
    <h2 class="review-container-title visually-hidden">Reviewer</h2>
    <p class="paragraf-review1">
      Yacht Adventures take pride in providing the best possible service and
      experience to our customers
    </p>
    <p class="paragraf-review2">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
    <ul class="list-review list">
      <li class="item-review">
        <img
          src="./images/team/mark@1x.jpg"
          srcset="./images/team/mark@1x.jpg 1x, ./images/team/mark@2x.jpg 2x"
          width="264"
          height="260"
          alt="The man with mustashes and beard"
        />
        <div class="card-review">
          <h3 class="reviewer-title card">John Wax</h3>
          <p class="paragraf-reviewer">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="item-review">
        <img
          src="./images/team/camila@1x.jpg"
          srcset="
            ./images/team/camila@1x.jpg 1x,
            ./images/team/camila@2x.jpg 2x
          "
          width="264"
          height="260"
          alt="Young woman wearing in white shirt"
        />
        <div class="card-review">
          <h3 class="reviewer-title card">Victoria Romashenko</h3>
          <p class="paragraf-reviewer">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="item-review">
        <img
          src="./images/team/daniel@1x.jpg"
          srcset="
            ./images/team/daniel@1x.jpg 1x,
            ./images/team/daniel@2x.jpg 2x
          "
          width="264"
          height="260"
          alt="Young man with glasses"
        />
        <div class="card-review">
          <h3 class="reviewer-title card">Ihor Trachuk</h3>
          <p class="paragraf-reviewer">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
