<section class="review" id="review-section">
  <div class="container-review container">
    <h2 class="review-container-title visually-hidden">Reviewer</h2>
    <div class="container-paragrafs">
      <h3 class="paragraf-review1">
        <span class="yacht-adventures">Yacht Adventures</span>
        take pride in providing the best possible service and experience to our
        customers
      </h3>
      <p class="paragraf-review2">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <ul class="list-review list">
      <li class="item-review">
        <img
          class="imageReview"
          src="../img/review/john@1x.png"
          srcset="./img/review/john@1x.png 1x, ./img/review/john@2x.png 2x"
          width="128"
          height="128"
          alt="The man with mustashes and beard"
        />
        <div class="card-review">
          <h4 class="reviewer-title">John Wax</h4>
          <p class="reviewer-paragraf">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="item-review">
        <img
          class="imageReview"
          src="../img/review/victoria@1x.png"
          srcset="
            ./img/review/victoria@1x.png 1x,
            ./img/review/victoria@2x.png 2x
          "
          width="128"
          height="128"
          alt="Young woman wearing in white shirt"
        />
        <div class="card-review">
          <h4 class="reviewer-title">Victoria Romashenko</h4>
          <p class="reviewer-paragraf">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="item-review">
        <img
          class="imageReview"
          src="../img/review/ihor@1x.png"
          srcset="./img/review/ihor@1x.png 1x, ./img/review/ihor@2x.png 2x"
          width="128"
          height="128"
          alt="Young man with glasses"
        />
        <div class="card-review">
          <h4 class="reviewer-title">Ihor Trachuk</h4>
          <p class="reviewer-paragraf">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
