
 <section class="services-block">        
    <div class="container sb-box">    
      <div class="sb-spot"></div>    
      <ul class="sb-content">
        <li class="sb-item diving">
          <!-- <img class="pict pic-dive"
          srcset="./img/diving@1x.png 1x,
          ./img/diving@2x.png 2x"
          src="./img/diving@1x.png"
          width="335"
          height="335"
          alt="diving men"
          /> -->
          <div class="sb-text-box sb-text-dive">
          <p class="sb-text">Diving</p>
          </div>
        </li>

        <li class="sb-item fishing">
          <!-- <img class="pict pic-fish"
          srcset="./img/fishing@1x.png 1x,
          ./img/fishing@2x.png 2x"
          src="./img/fishing@1x.png"
          width="335"
          height="335"
          alt="a fishing rod in hends"
          /> -->
          <div class="sb-text-box sb-text-fish">
          <p class="sb-text">Fishing</p>
          </div>
        </li> 

        <li class="sb-item sunbath">
          <!-- <img class="pict pic-sun"
          srcset="./img/sunbathing@1x.png 1x,
          ./img/sunbathing@2x.png 2x"
          src="./img/sunbathing@1x.png"
          width="335"
          height="335"
          alt="three sun umbrellas"
          /> -->
          <div class="sb-text-box sb-text-sun">
          <p class="sb-text">Sunbathing</p>
          </div>
        </li>    

      </ul>
    </div>
  </section>