<section class="services-block">        
    <div class="container sb-box">    
      <div class="sb-spot"></div>    
      <ul class="sb-content">
        <li class="sb-item diving">
          <div class="sb-text-box sb-text-dive">
          <p class="sb-text">Diving</p>
          </div>
        </li>

        <li class="sb-item fishing">
          <div class="sb-text-box sb-text-fish">
          <p class="sb-text">Fishing</p>
          </div>
        </li> 

        <li class="sb-item sunbath">
          <div class="sb-text-box sb-text-sun">
          <p class="sb-text">Sunbathing</p>
          </div>
        </li>    
      </ul>
    </div>
  </section>