<section class="section yahts-section" id="yachts-section">
    <div class="container yahts-container">
        <div class="yahts-title-container">

            <h2 class="yaht-title" id="yachtblock">Choose your dream yacht and sail away into the sunset</h2>
            <div class="yaht-elipce">
            </div>
            <div class="yaht-elipce-2">
            </div>
            <a href="#Yacht" class="yaht-btn-link">
                <button href="#Yacht" class="yaht-btn">
                    Yacht rental
                </button>
            </a>


        </div>

        <!-- ID ???? -->
        <div class="yahts-block" id="Yacht">

            <div class="yahts-list">

                <div class="yahts-item yaht-1">
                    <img class="yahts-img yahts-1-img"
                        srcset="/img/yahtsblock/yaht-1.png, /img/yahtsblock/yaht-1@2x.png 2x"
                        src="/img/yahtsblock/yaht-1.png" alt="ARROW" width="299" height="251">
                    <div class="yahts-card-container">
                        <div class="yahts-item-text">
                            <p class="yahts-name">ARROW</p>
                            <p class="yahts-class">LUXURY YAHTS</p>
                        </div>
                        <div class="yahts-item-about-block">
                            <ul class="yahts-list-about-name">
                                <li class="yahts-item-about-name">LENGTH</li>
                                <li class="yahts-item-about-name">BUILDER</li>
                                <li class="yahts-item-about-name">BUILT</li>
                                <li class="yahts-item-about-name">GUESTS</li>
                                <li class="yahts-item-about-name">PRICE</li>
                            </ul>
                            <ul class="yahts-list-about">
                                <li class="yahts-item-about">48m(155ft)</li>
                                <li class="yahts-item-about">Admiral</li>
                                <li class="yahts-item-about">2021</li>
                                <li class="yahts-item-about">11 in 5 cabins</li>
                                <li class="yahts-item-about">€33,500,000</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="yahts-item yaht-2">
                    <img class="yahts-img yahts-2-img"
                        srcset="/img/yahtsblock/yaht-2.png, /img/yahtsblock/yaht-2@2x.png 2x"
                        src="/img/yahtsblock/yaht-2.png" alt="BENETTI OASIS 40M BO122" width="299" height="251">
                    <div class="yahts-card-container">
                        <div class="yahts-item-text">
                            <p class="yahts-name">BENETTI OASIS 40M...</p>
                            <p class="yahts-class">LUXURY YAHTS</p>
                        </div>
                        <div class="yahts-item-about-block">
                            <ul class="yahts-list-about-name">
                                <li class="yahts-item-about-name">LENGTH</li>
                                <li class="yahts-item-about-name">BUILDER</li>
                                <li class="yahts-item-about-name">BUILT</li>
                                <li class="yahts-item-about-name">GUESTS</li>
                                <li class="yahts-item-about-name">PRICE</li>
                            </ul>
                            <ul class="yahts-list-about">
                                <li class="yahts-item-about">41m (133ft)</li>
                                <li class="yahts-item-about">Benetti</li>
                                <li class="yahts-item-about">2025</li>
                                <li class="yahts-item-about">10 in 5 cabins</li>
                                <li class="yahts-item-about">€23,210,000</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="yahts-item yaht-3" id="Yachts">
                    <img class="yahts-img yahts-3-img"
                        srcset="/img/yahtsblock/yaht-3.png, /img/yahtsblock/yaht-3@2x.png 2x"
                        src="/img/yahtsblock/yaht-3.png" alt="BELLE ANNA" width="299" height="251">
                    <div class="yahts-card-container">
                        <div class="yahts-item-text">
                            <p class="yahts-name">BELLE ANNA</p>
                            <p class="yahts-class">LUXURY YAHTS</p>
                        </div>
                        <div class="yahts-item-about-block">
                            <ul class="yahts-list-about-name">
                                <li class="yahts-item-about-name">LENGTH</li>
                                <li class="yahts-item-about-name">BUILDER</li>
                                <li class="yahts-item-about-name">BUILT</li>
                                <li class="yahts-item-about-name">GUESTS</li>
                                <li class="yahts-item-about-name">PRICE</li>
                            </ul>
                            <ul class="yahts-list-about">
                                <li class="yahts-item-about">50m(155ft)</li>
                                <li class="yahts-item-about">ISA</li>
                                <li class="yahts-item-about">2012</li>
                                <li class="yahts-item-about">12 in 6 cabins</li>
                                <li class="yahts-item-about">€21,000,000</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="background-lines"> </div>

            <!-- Arrow -->
            <div class="yacht-arrow">
                <button type="button" class="arrow-btn">
                <svg class="arrow-icon-left" width="32" height="18" fill="var(--main-text-color)">
                            <use href="/img/icons.svg#arrowleft">
                            </use>
                        </svg>
                </button>
                <button type="button" class="arrow-btn">
                <svg class="arrow-icon-right" width="32px" height="18px" fill="var(--main-text-color)">
                            <use href="/img/icons.svg#arrowright">
                </use>
                </svg>
                </button>
            </div>
        </div>
</section>
