/*For mobile*/
.footer{
    position: relative;
    overflow: hidden;
}

/*For mobile*/
  .footer-conteiner {
    display: flex;
    flex-direction: column;
    max-width: 335px;
    border-top: 1px solid rgba(246, 245, 239, 0.20);
    padding-bottom: 14px;
}

@media only screen and (max-width: 767px) {
.footer-conteiner {
    gap: 40px;
    padding-bottom: 16px;
  }
}

/*For tablet*/
@media only screen and (min-width: 768px) {
    .footer-conteiner {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 704px;  
    justify-content: space-between;
    align-items:stretch;
    }
}

/*For desktop*/
@media only screen and (min-width: 1280px) {
    .footer-conteiner {
    max-width:1216px;
    }
}

/*For mobile*/
.footer-spot{
    position: absolute;
    width:420px ;
    height:420px ;
    transform:rotate(-45.408deg);
    border-radius: 420px;
    opacity: 0.6;
    background:#93ABAE ;
    filter: blur(100px);
    right: -90px;
    bottom: -340px;
}

/* For tablet */
@media only screen and (min-width: 768px) {
.footer-spot {
    width: 419px;
    height: 419px;
    right: 80px;
    bottom: -390px;
    border-radius: 419px;
    transform: rotate(-45.565deg);
    }
}

/*For desktop*/
@media only screen and (min-width: 1280px) {
.footer-spot{
    width: 415px;
    height: 415px;
    right: 630px;
    bottom: -380px;
    border-radius: 415px;
    transform: rotate(-45.044deg);
  }
}

/*For mobile*/
.link-logo-footer {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 114%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  padding-top: 40px;
}
 
@media only screen and (max-width: 767px) {
.link-logo-footer{
    align-items: center;
    justify-content: start;
    }
}

/*For tablet*/
@media only screen and (min-width: 768px) {
    .link-logo-footer {
    font-size: 18px;
    line-height: 118%;
    letter-spacing: 0.54px;
    padding-top: 64px;
    }
}

.logo-image{
    background-color: lightgray 50%;
    max-width: 100%;
    height: 100%;
    padding-right: 8px;
}

/*For mobile*/
.navigation-footer-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/*For tablet*/
@media only screen and (min-width: 768px) {
.navigation-footer-list{
    gap: 24px;
    padding-top: 64px;
  }
}

/*For desktop*/
@media only screen and (min-width: 1280px) {
.navigation-footer-list{
    flex-direction: row;
  }
}

.navigation-footer-link{
    color: #F6F5EF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*For mobile*/
.footer-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*For tablet*/
@media only screen and (min-width: 768px) {
.footer-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 64px;
    }
}

/*For desktop*/
@media only screen and (min-width: 1280px) {
.footer-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
    }
}

.footer-icon-list {
    display: flex;
    gap: 16px;
}

/*For mobile*/
.footer-icon-list .list-item {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid rgba(246, 245, 239, 0.50);
}

/*For tablet*/
@media only screen and (min-width: 768px) {
.footer-icon-list .list-item {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgba(246, 245, 239, 0.50);
    }
}

.footer-icon-list .list-item:hover .chain-icon{
    fill:#BEC7C2;
}

.footer-icon-list .list-item:hover{
    border:1px solid #BEC7C2;
}

.icon-link{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.chain-icon{
    fill: #F6F5EF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media only screen and (max-width: 767px) {
  .chain-icon {
    width:17.6px ;
    height:17.6px ;
  }
}

.icons-description{
    color:  #F6F5EF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.privacy-police{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media only screen and (min-width: 768px) {
.privacy-police{
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1280px) {
.privacy-police {
    margin-top: 132px;
  }
}

/*For mobile*/
.privacy-police-list {
    display: flex;
    gap: 14px;
}

/*For tablet*/
@media only screen and (min-width: 768px) {
.privacy-police-list {
    gap: 32px;
    }
}

/*For mobile*/
.privacy-police-description {
    color: rgba(246, 245, 239, 0.50);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 118%;
    letter-spacing: 0.03em;
}

/*For tablet*/
@media only screen and (min-width: 768px) {
.privacy-police-description {
    font-size: 14px;
    }
}

