.hero {
  background-color: var(--bg-black);
}
.hero-box {
  position: relative;
}
.hero-ellipse-one {
  position: absolute;
  width: 279px;
  height: 279px;
  transform: rotate(-45.074deg);
  flex-shrink: 0;
  border-radius: 279px;
  opacity: 0.8999999761581421;
  background: #939cac;
  filter: blur(100px);
  bottom: 114px;
  left: -100px;
}
@media only screen and (min-width: 768px) {
  .hero-ellipse-one {
    width: 414px;
    height: 414px;
    border-radius: 414px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-ellipse-one {
    bottom: -30px;
    left: -28px;
  }
}
.hero-ellipse-two {
  position: absolute;
  bottom: 129px;
  left: -262px;
  width: 279px;
  height: 279px;
  transform: rotate(-45.074deg);
  flex-shrink: 0;
  border-radius: 279px;
  opacity: 0.6000000238418579;
  background: #91afba;
  filter: blur(100px);
}
@media only screen and (min-width: 768px) {
  .hero-ellipse-two {
    width: 414px;
    height: 414px;
    border-radius: 414px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-ellipse-two {
    bottom: 19px;
    left: -241px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-ellipse-desktop {
    position: absolute;
    bottom: 96px;
    left: 253px;
    width: 316px;
    height: 316px;
    flex-shrink: 0;
    transform: rotate(-45.074deg);
    border-radius: 316px;
    opacity: 0.30000001192092896;
    background: #a6a9b2;
    filter: blur(100px);
  }
}
.hero-container {
  margin-bottom: 40px;
}
@media only screen and (min-width: 375px) {
  .hero-container {
    width: 335px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    width: 704px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container {
    width: 554px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1280px) {
  .desktop-block {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 64px 0 82px 0;
  }
}
.hero-title {
  color: var(--main-text-color);
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 39.6px */
  letter-spacing: -1.62px;

  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    padding-top: 64px;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -2.7px;
  }
}
.accent-color {
  background: var(
    --second-text-color,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
}
@media only screen and (min-width: 768px) {
  .accent-color {
    background: var(
      --linear-green,
      linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: DM Sans;
    font-style: italic;
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
.hero-text {
  color: var(--main-text-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;

  margin-top: 14px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    width: 539px;
    color: var(--main-text-color);
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
.hero-btn-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .hero-btn-container {
    gap: 11px;
  }
}
.hero-btn {
  padding: 14px 28px;
  border-radius: 60px;
  background: var(--button-color);
  border: none;
  color: var(--main-text-color);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 15.4px */
  letter-spacing: -0.63px;
}
@media only screen and (min-width: 768px) {
  .hero-btn {
    font-size: 18px;
  }
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--button-hover-color);
}
.hero-anchor {
  background: transparent;
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 15.4px */
  letter-spacing: -0.63px;
}
.hero-anchor:hover,
.hero-anchor:focus {
  color: var(--button-color);
  border-color: var(--button-color);
}
@media only screen and (min-width: 768px) {
  .hero-anchor {
    font-size: 18px;
    letter-spacing: -0.63px;
  }
}
.mask-group {
  position: relative;
  width: 335px;
  height: 427px;
  background-image: url(../img/hero-img/mask-group@1x.png);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mask-group {
    min-width: 335px;
    height: 427px;
    background-image: url(../img/hero-img/mask-group@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .mask-group {
    min-width: 426px;
    height: 598px;
    background-image: url(../img/hero-img/mask-group-tabl@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .mask-group {
      width: 426px;
      height: 598px;
      background-image: url(../img/hero-img/mask-group-tabl@2x.png);
    }
  }
}
@media only screen and (min-width: 768px) {
  .hero-icon {
    width: 56px;
    height: 56px;
  }
}
.hero-list-clients {
  display: flex;
  position: relative;
  margin-bottom: 11px;
}
.hero-conteiner-clients {
  padding-top: 24px;
  padding-left: 24px;
}
@media only screen and (min-width: 768px) {
  .hero-conteiner-clients {
    padding-top: 32px;
    padding-left: 32px;
  }
}

.hero-icon-clients-1 {
  z-index: 3;
}
.hero-icon-clients-2 {
  position: absolute;
  left: 38px;
  z-index: 2;
}
.hero-icon-clients-3 {
  position: absolute;
  left: 78px;
  z-index: 1;
}
.text-clients {
  width: 96px;

  color: var(--bg-black);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 15.4px */
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.hero-img-ceo {
  border-radius: 24px;
  position: absolute;
  top: 35px;
  right: -12px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .hero-img-ceo {
    width: 233px;
    top: 32px;
    right: -146px;
  }
}
.hero-img-yaht {
  position: absolute;
  top: 152px;
  right: 24px;
}
@media only screen and (min-width: 768px) {
  .hero-img-yaht {
    width: 378px;
    height: 221px;

    top: 225px;
    right: 24px;
  }
}
.hero-price-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  position: absolute;
  bottom: 48px;
  left: 24px;
}
@media only screen and (min-width: 768px) {
  .hero-price-container {
    display: flex;
    width: 362px;
  }
}
.hero-price {
  display: flex;
  width: 104px;
  height: 46px;
  flex-direction: column;
  justify-content: center;

  color: var(--bg-black);
  font-family: inherit;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1; /* 52.8px */
  letter-spacing: -0.045em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .hero-price {
    width: auto;
    height: auto;
    font-size: 60px;
  }
}
.hero-price-text {
  width: 169px;
  height: 39px;

  color: var(--bg-black);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.045em;
}
@media only screen and (min-width: 768px) {
  .hero-price-text {
    width: 208px;
    height: 36px;
    font-size: 18px;
    line-height: 110%; /* 19.8px */
    letter-spacing: -0.81px;
  }
}
