.hero {
  background-color: var(--bg-black);
}
.hero-box {
  position: relative;
}
.hero-ellipse {
  position: absolute;
  width: 279px;
  height: 279px;
  transform: rotate(-44.916deg);
  flex-shrink: 0;
  border-radius: 279px;
  opacity: 0.8999999761581421;
  background: #939cac;
  filter: blur(100px);
}
.hero-container {
  width: 332px;
}
.hero-title {
  padding-top: 40px;
  color: var(--main-text-color);
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.045em;
}
.accent-color {
  background: var(
    --second-text-color,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
}
.hero-text {
  color: var(--main-text-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.28px;
  margin-top: 14px;
  margin-bottom: 24px;
}
.hero-btn {
  padding: 14px 28px;
  border-radius: 60px;
  background: var(--button-color);
  border: none;
  color: var(--main-text-color);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1; /* 15.4px */
  letter-spacing: -0.045em;
}
.hero-anchor {
  background: transparent;
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1; /* 15.4px */
  letter-spacing: -0.045em;
}
.mask-group {
  position: relative;
  width: 335px;
  height: 427px;
  background-image: url(../img/hero-img/mask-group@1x.png);
}
.hero-list-clients {
  display: flex;
  position: relative;
  margin-bottom: 11px;
}
.hero-conteiner-clients {
  padding-top: 24px;
  padding-left: 24px;
}
.hero-icon-clients-1 {
  z-index: 3;
}
.hero-icon-clients-2 {
  position: absolute;
  left: 38px;
  z-index: 2;
}
.hero-icon-clients-3 {
  position: absolute;
  left: 78px;
  z-index: 1;
}
.hero-img-ceo {
  position: absolute;
  top: 35px;
  right: -12px;
}
.hero-img-yaht {
  position: absolute;
  top: 152px;
  right: 24px;
}
.hero-price-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  position: absolute;
  bottom: 48px;
  left: 24px;
}
.hero-price {
  display: flex;
  width: 104px;
  height: 46px;
  flex-direction: column;
  justify-content: center;

  color: var(--bg-black);
  font-family: inherit;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1; /* 52.8px */
  letter-spacing: -0.045em;
  text-transform: uppercase;
}
.hero-price-text {
  width: 169px;
  height: 39px;

  color: var(--bg-black);
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4; /* 19.6px */
  letter-spacing: -0.045em;
}
